form {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
select,
input {
  background-color: var(--element-bg);
  color: var(--txt);
  border: none;
  border-radius: 5px;
  box-shadow: 2px -2px 4px var(--shadow), -2px 2px 4px var(--shadow);
}
select:focus,
input:focus {
  outline: none;
}
/* .inputField {
  width: 27%;
  border: 3px solid black;
  border-radius: 19px;
} */
.inputField i {
  margin-left: -308px;
  font-size: large;
}
input {
  width: 80%;
  padding-left: 50px;
  height: 38px;
}
select {
  font-size: large;
  width: 160px;
  padding: 0 10px;
  cursor: pointer;
}
.countriesList {
  margin: 70px 0;
}

.countriesList .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px 50px;
}
.filter_all {
  border: 2px solid rgb(7, 1, 1);
}
