.cardOuter {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  width: 250px;
  height: 300px;
}
.imgcard {
  width: 285px;
  height: 183px;
}
.info {
  padding: 10px;
  background-color: grey;
}
.spnRightCard {
  font: 12;
  color: green;
  font-weight: normal;
}
.cartTitl {
  font: 21px;
  font-weight: normal;
}
.heart {
  color: pink;
  font-size: 16px;
  padding-left: 100px;
  cursor: pointer;
}
.heart:hover {
  color: brown;
}
